body{
    /* font-family: 'Mali', cursive; */
    font-family: 'Raleway', sans-serif;
    margin:0;
    background-color:rgb(255, 249, 242);
}

#main-header{
    background-color: rgb(41, 113, 248);
    color:honeydew;
    text-align: center;
    margin:0;
    padding: 1.5rem
}

.btn-main{
    font: inherit;
    color: antiquewhite;
    padding: 0.5rem 0.8rem;
    background-color:dodgerblue;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btn-alt{
    font: inherit;
    padding: 0.5rem 0.8rem;
    background-color:rgba(226, 47, 47, 0.7);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: antiquewhite;
}

.btn-main:hover{
    background-color: rgb(115, 208, 254);
    color: black;
}
.btn-alt:hover{
    background-color: crimson;
    color: black;
}